.app-nav-container {
  min-height: calc(100dvh - var(--dev-toolbar-offset));
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  flex: 1 0 auto;
  .app-nav {
    background: $primary;
    color: $white;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: map-get($spacers, 2);
    padding: map-get($spacers, 2) map-get($spacers, 3);
  }
  .app-nav-brand {
    display: none;
    border: $border-width solid transparent;
    outline-offset: 1px;
    outline: 1px solid rgba($white, 0);
    border-radius: $border-radius;
    &:focus-visible {
      border-color: rgba($white, 0.8);
      outline-color: rgba($white, 0.24);
    }
    .app-nav-brand-text{
      display: none;
    }
  }
  .app-nav-link {
    color: $white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    flex: 1 1 0;
    border-radius: $border-radius;
    padding: map-get($spacers, 1);
    text-wrap: nowrap;
    transition: background 0.2s ease-in-out;
    border: $border-width solid transparent;
    outline-offset: 1px;
    outline: 1px solid rgba($white, 0);
    svg,
    img,
    .avatar {
      width: 24px !important;
      height: 24px !important;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.16);
    }
    &:active,
    &.active {
      background: rgba(0, 0, 0, 0.36);
    }
    &:focus-visible {
      border-color: rgba($white, 0.8);
      outline-color: rgba($white, 0.24);
    }
  }
  .app-nav-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    width: 100%;
    min-width: 1px;
    max-width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .app-nav-container {
    flex-direction: row;
    .app-nav {
      top: var(--dev-toolbar-offset);
      height: calc(100dvh - var(--dev-toolbar-offset));
      flex-direction: column;
      justify-content: flex-start;
      padding: map-get($spacers, 5) map-get($spacers, 3);
    }
    .app-nav-brand {
      display: block;
      margin: 0 auto;
      > * {
        width: map-get($spacers, 8);
      }
    }
    .app-nav-link {
      flex: 0 0 0;
      .avatar {
        width: map-get($spacers, 6) !important;
        height: map-get($spacers, 6) !important;
        margin-bottom: map-get($spacers, 1);
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .app-nav-container {
    &.expanded {
      .app-nav {
        width: 276px;
      }
      .app-nav-brand {
        margin: 0;
        display: flex;
        align-items: center;
        gap: map-get($spacers, 3);
        text-decoration: none;
        .app-nav-brand-text{
          display: block;
          flex: 1 1 0;
          font-size: 1.3em;
          color: $white;
        }
      }
      .app-nav-link {
        flex-direction: row;
        font-size: 1rem;
        gap: map-get($spacers, 3);
        padding: map-get($spacers, 2) map-get($spacers, 1);
        svg,
        img,
        .avatar {
          width: map-get($spacers, 5) !important;
          height: map-get($spacers, 5) !important;
          margin-bottom: 0;
        }
      }
    }
  }
}
