@import '../../node_modules/bootstrap/scss/tables';

.table-responsive {
  border: $border-width solid var(--bse-base-i1);
  border-radius: $border-radius;
  .table {
    margin: 0;
    thead {
      th {
        background: var(--bse-base-i1);
        color: var(--bse-base-1);
      }
    }
    :last-child {
      tr:last-child {
        td,
        th {
          border-bottom-width: 0px;
        }
      }
    }
    tbody{
      td:not(:last-child), th:not(:last-child){
        border-right: 1px solid var(--bs-border-color);
      }
    }
    thead{
      th:not(:last-child){
        border-right: 1px solid var(--bse-base-i3);
      }
    }
  }
}
