.form-control {
  .tiptap.ProseMirror {
    padding-bottom: 0.02px;
    padding: $input-padding-y $input-padding-x;
  }
  .tiptap-toolbar {
    background: var(--bse-base-2);
    border-bottom: $border-width $border-color solid;
    padding: map-get($map: $spacers, $key: 1) $input-padding-x;
    .tiptap-sub-toolbar{
      margin-top: map-get($map: $spacers, $key: 1);
    }
    .btn.btn-icon {
      border-radius: $border-radius;
      &:hover {
        background: var(--bse-base-3);
        border-color: var(--bse-base-3);
        color: var(--bse-base-i4);
      }
      &:active,
      &.active {
        background: var(--bse-base-4);
        border-color: color-mix(in srgb, rgb(var(--bse-base-4-rgb)), rgb(var(--bse-base-i4-rgb)) 5%);
        color: var(--bse-base-i1);
      }
    }
  }
}
