@import "../../node_modules/bootstrap/scss/type";

ul {
  li {
    line-height: 1.25em;
    margin-bottom: 0.25em;
  }
}

a {
  text-underline-offset: 4px;
}

.font-sans-serif{
  font-family: $font-family-sans-serif;
}
.font-serif{
  font-family: $font-family-serif;
}
.font-cursive{
  font-family: $font-family-cursive;
}
.font-monospace{
  font-family: $font-family-monospace;
}