// https://hihayk.github.io/scale/#3/5/75/75/0/0/0/0/680909/104/9/9/white
$red-900: #1a0202;
$red-800: #340505;
$red-700: #4e0707;
$red-600: #680909; // primary
$red-500: #7f2e2e;
$red-400: #955353;
$red-300: #ac7878;
$red-200: #c39d9d;
$red-100: #d9c2c2;

// https://hihayk.github.io/scale/#4/4/75/75/0/0/0/0/093589/9/53/137/white
$blue-900: #020d22;
$blue-800: #04173c;
$blue-700: #062156;
$blue-600: #072b6f;
$blue-500: #093589; // Secondary
$blue-400: #375b9f;
$blue-300: #6581b5;
$blue-200: #93a7cb;
$blue-100: #c2cde2;

// https://meyerweb.com/eric/tools/color-blend/#333638:EBEBEB:7:hex
$gray-900: #333638; // dark
$gray-800: #4a4d4e;
$gray-700: #616365;
$gray-600: #787a7b;
$gray-500: #8f9192; // gray
$gray-400: #a6a7a8;
$gray-300: #bdbebe;
$gray-200: #d4d4d5;
$gray-100: #ebebeb; // light

$primary: $red-600;
$secondary: $blue-500;
$dark: $gray-900;
$light: $gray-100;

$dev: #015209;

$theme-colors: ();
$custom-colors: (
  "dev": $dev,
);

$link-color: $blue-500;

$colors: (
  'red-900': $red-900,
  'red-800': $red-800,
  'red-700': $red-700,
  'red-600': $red-600,
  'red-500': $red-500,
  'red-400': $red-400,
  'red-300': $red-300,
  'red-200': $red-200,
  'red-100': $red-100,

  'blue-900': $blue-900,
  'blue-800': $blue-800,
  'blue-700': $blue-700,
  'blue-600': $blue-600,
  'blue-500': $blue-500,
  'blue-400': $blue-400,
  'blue-300': $blue-300,
  'blue-200': $blue-200,
  'blue-100': $blue-100,
);

$font-family-sans-serif: 'Urbanist', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-weight-normal: 500;

$lead-font-weight: $font-weight-normal;

$border-radius: 0.45em;

$input-btn-padding-y: 0.375rem;
$input-btn-padding-x: 1.25rem;
