@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Patrick+Hand&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'variables';
@import 'bootstrap-setup';
@import 'avatar';
@import 'loader';
@import '../../node_modules/@ngblaylock/bootstrap-extensions/src/scss/icon-buttons';
@import '../../node_modules/@ngblaylock/bootstrap-extensions/src/scss/base-theme';
@import '../../node_modules/@ngblaylock/bootstrap-extensions/src/scss/btn-contrast';
@import '../../node_modules/@ngblaylock/bootstrap-extensions/src/scss/theme-switch';
@import '../../node_modules/@ngblaylock/bootstrap-extensions/src/scss/dev-tools';
@import 'dev-note';
@import 'sortable-js';
@import 'cognito-form';
@import 'tiptap';

::-moz-selection {
  /* Code for Firefox */
  color: $dark;
  background: rgba($red-100, 0.8);
}

::selection {
  color: $dark;
  background: rgba($red-100, 0.8);
}
