.github/
.svelte-kit/
.vscode/
!.vscode/nathanblaylock.code-snippets
build/
documentation/
node_modules/
src/
static/
.gitignore
.npmignore
.prettierignore
.prettierrc
blunt.config.cjs
components.d.ts
svelte.config.js
tsconfig.json
vite.config.js