{
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 80,
  "plugins": ["prettier-plugin-svelte"],
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
