@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'ngb-variables';

@import 'bootstrap-required';
@import 'bootstrap-overrides';
@import 'bootstrap-options';

body{
  overflow-y: scroll;
}

h3, .h3{
  font-size: 2.5rem;
  font-weight: 800;
}
h4, .h4{
  font-size: 1.75em;
  font-weight: 800;
}
ul{
  li{
    line-height: 1.125em;
  }
}

p, li, label, input, textarea{
  font-size: 1.125em;
}
label{
  margin-bottom: .25em;
  font-weight: 600;
}