@import "custom-vars";

* {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 600;
    margin-top: 1em;
}

.container{
    max-width: 1170px;
}

.container-sm{
    max-width: 768px;
}